# dependencies
/node_modules
/.npm-cache

# Next.js
/.next
/out

# production
/build

# environment files
.env*
!.env.example

# Vercel
.vercel

# logs
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
